<!DOCTYPE html>
<html lang ="ja">
  <head>
    <style>
      #maps{
	  height: 400px
      }
    </style>
  </head>
  <body>
    <script>
      function initMap(){
	  var mapPosition = {lat:33.0000, lng:141.0000}
	  var mapArea = document.getElementById('maps'):
	  var mapOptions = {
	      center: ,mapPosition,
	      zoom: 16,
	  };
	  var map = new google.maps.Map(mapArea, mapOptions);
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDdC0D8VNUaH_zkz1jbOjTfrDzeTP3Y4I0&callback=initMap"></script>
  </body>
</html>



    
