<style>
  #map2{
    height: 400px
  }
</style>

<div id="map2"></div>
<script>
  var markersArray =[];
    function initMap(){
        var mapPosition = {lat:35.0000, lng:139.0000};
        var mapArea = document.getElementById('map2');
        var mapOptions = {
            center: mapPosition,
            zoom: 13,
        };
        map2 = new google.maps.Map(mapArea, mapOptions);
        google.maps.event.addListener(map2,"click",function (event) {
            placeMarker(event.LatLng);
        });
        google.maps.event.addListener(map2,"idle",function () {
            placeMarker(map2.getCenter());
        });
    }
    function placeMarker(location) {
        ClearOverlays();
        var marker = new google.maps.Marker({
            position: location,
            map: map2
        });
        markersArray.push(marker);
    }
    function ClearOverlays() {
        for (var i = 0; i &lt; markersArray.length; i++) {
            markersArray[i].setMap(null);
        }
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDdC0D8VNUaH_zkz1jbOjTfrDzeTP3Y4I0&callback=initMap"
        async defer></script>
