.pages-body{
    margin: 0px;
    padding: 0px;
    background: url(background-photo2.jpg) center center / cover no-repeat fixed;
    font-family: 'Anton', sans-serif;
}

.header{
    width: 960px;
    height: 100px;
    margin: 0 auto;
    paddint-top: 0px;
    background-color: #008000;
    height: 50px;
}

.header h1{
    float: left;
    font-size: 50px;
}

.header li{
    float: right;
    //margin: 0px 20px;
    list-style: none;
    font-size: 30px;
    font-family: 'Anton', sans-serif;
    text-align: center;
}

.header-list a:hover{
    tet-decoration: underline;
}
